.fav {
  color: orange;
  font-size: 16pt;
}

.clickable{
  cursor: pointer;
}
th.clickable:hover{
  background-color: #f2f2f2;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.progress.active {
  margin-bottom: 5px;
}
