/*body{
 background-color: #3b5998;
}*/

html, body {
  min-width: 1200px;
}
#login, #signup {
  width: 30%;
  margin: 0 auto;
}
.titleCenter {
  text-align: center;
}

input {
  width: 100%;
  line-height: 3rem;
  margin: 5px auto;
  padding: 0.5rem;
}

button {
  margin-top:5px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
}
.image{
      background: url('/assets/blurred-city.jpg');
      background-size: cover;
      max-width: 100%;
    height: 780px;
    border-radius: 0 0 25px 25px;
    }

#title{
  color: white;
  font-family: 'Audiowide', cursive;
  float: left;
  font-size: 110px;
  margin-top: 620px;
  margin-left: 45px;
}


.head {
  padding-top: 5px;
  font-size: 70px;
  background-color: #3b5998;
}

.img-circle {
  text-align: center;
  height: 200px;
  width: 200px;
    border-radius: 50%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  font-size: 4rem;
  text-align: center;
  padding: 15px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  font-size: 3rem;
  text-align: center;
  padding: 15px;
}

.logout{
  font-family: 'Arial';
  font-weight: lighter;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}


.fav {
  color: orange;
  font-size: 16pt;
}

.title {
	text-align: center;
	font-size: 150px;
	color: blue;
}

/* LISTING FORMATTING */
table {
  /*font-family: 'Jura', sans-serif;*/
  /*font-family: 'Domine', serif;*/
  font-family: "Arial";
  border-collapse: collapse;
  width: 100%;
  /*font-weight: bold;*/
}

.textwrap {
  table-layout: fixed;
  word-wrap: break-word;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  /*vertical-align: bottom;*/
}
th {
  font-weight: bolder;
  color:#52527a;
}
.table tbody>tr>td{
    vertical-align: middle;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}

/* LISTING SORTING */
.clickable{
  cursor: pointer;
}
th.clickable:hover{
  background-color: #f2f2f2;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

/* DEADLINES */

/*.upcoming {
  color: orange;
}
.urgent {
  color: red;
}*/
.passed {
  color: green;
  font-style: italic;
}

/* OTHER */

.fav {
  color: orange;
  font-size: 16pt;
}

.progress.active {
  margin-bottom: 5px;
}

.joblink {
  color: blue;
}

.nojoblink {
  color: grey;
  opacity: 0.4;
}

.trans {
  opacity: 0.4;
}

.search {
  line-height: 1.8em;
  margin-left: 15px;
  padding: 0 12px;
  width: 170px;
}

.searchBar {
  width: 390px;
  height: 45px;
  border-radius: 18px 12px 0px 0px;
  position:relative; left:0px; top:20px;
  background: linear-gradient(to bottom, #ECECEC 50%, #D1D1D1 100%);
  /*box-shadow: 0 0px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;*/
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 12px;
}
.schedule {
  color: tomato;
}

#archive {
  width: 73px;
}
