<style>
  body{
  background-color: #3b5998;
  }
</style>


<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Jura:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<div class="head" ng-controller="AuthController">
  <button ng-click="logout()" class="logout btn btn-primary" href="/">Logout</button>
  <h2>{{name}}'s <span ng-show='archiveState'>Archives</span><span ng-show='!archiveState'>Current Jobs</span></h2>
</div>
<!-- <div ng-controller="JobsController"></div> -->
<!-- Open modal to add job -->
<!-- Filter Bar -->
<br>
<div class="searchBar">
  <button id="addJob" type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal" ng-disabled="archiveState" ng-click='changeMode("add", job)'>Add Job</button>
  <button id="archive" type="button" class="btn btn-primary" ng-click="toggleArchive()">{{archiveDestination}}</button>
  <a href="#/leaderboard"  id="leaderBoard" type="button" class="btn btn-primary">Leaderboard</a>

  <input type='text' class="search" ng-model='search' placeholder='filter' /> 
</div>

<table class="table table-striped textwrap">
  <!-- TABLE HEADERS -->
  <tr>
    <th class="clickable" ng-click="sortBy('fav')" style="width:5.5%">
      Fav
      <span class="sortorder" ng-show="propertyName === 'fav'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('company')" style="width:17%">
      Company
      <span class="sortorder" ng-show="propertyName === 'company'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('position')" style="width:12.5%">
      Position
      <span class="sortorder" ng-show="propertyName === 'position'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('deadline')" style="width:10%">
      Next Date
      <span class="sortorder" ng-show="propertyName === 'deadline'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('statusOrder')" style="width:18%">
      Status
      <span class="sortorder" ng-show="propertyName === 'statusOrder'" ng-class="{reverse: reverse}"></span>
    </th>

    <th style="width:8%">Resume</th>

    <th style="width:7%">Job Link</th>

    <th style="width:7%">{{archiveDestination}}</th>

    <th style="width:7%">Delete</th>

    <th style="width:5%">Edit</th>

    <th class="clickable" ng-click="sortBy('modifiedAt')" style="width:14%">
      Last Modified
      <span class="sortorder" ng-show="propertyName === 'modifiedAt'" ng-class="{reverse: reverse}"></span>
    </th>
  </tr>


  <!-- TABLE BODY -->
  <!-- Sorts by clicked item first, and company name second -->
  <tr ng-repeat="job in data.jobs | filter:search | orderBy:'company':reverse | orderBy:propertyName:reverse">
    <!-- Favorites (togglable)-->
    <td>
      <span class="clickable fav" ng-class="{'glyphicon glyphicon-star': job.fav, 'glyphicon glyphicon-star-empty': !job.fav}" ng-click="toggleFav(job)"/>
    </td>

    <!-- Company name -->
    <td>
      {{job.company}}
    </td>

    <!-- Position title -->
    <td>
      <span>{{job.position}}</span>
    </td>

    <!-- Gets deadline styling based on how close the deadline is to today -->
    <td ng-class="getDeadlineClass({{job.deadline | amDifference : null : 'days'}})">
        {{
          (job.deadline | amDifference : null : 'days') < 0 ?
          'Completed' :
          (job.deadline | amDateFormat:'L')
        }}
    </td>

    <!-- Bootstrap progress bar -->
    <td>
      <span class="glyphicon glyphicon-triangle-left" ng-class="getArrowClass(job, 'left')" ng-click="adjustStatus(job, -1)" style="float:left">&thinsp;</span>
      <span class="glyphicon glyphicon-triangle-right" ng-class="getArrowClass(job, 'right')" ng-click="adjustStatus(job, 1)" style="float:right"/>
      <span><uib-progressbar class="progress active" value="progression[job.status].value" type="{{progression[job.status].type}}" ng-click=""/></span>
      {{job.status}}
    </td>

    <!-- Add file/folder -->
    <td ng-switch="!!job.resume">
      <a target="_self" href='/api/resume/{{job._id}}/{{job.company}}' ng-switch-when="true"><span class="clickable resume glyphicon glyphicon-file" style="color:#41b3af"/></a>
      <span ng-switch-when="false" class="noresume glyphicon glyphicon-file" style="color:grey"/>
    </td>

    <!-- Uses ng-switch to show either a blue clickable link, or grey unclickable link, depending on if job.link exists -->
    <td ng-switch="!!job.link">
      <span ng-click="routeToUrl(job.link)" ng-switch-when="true"><span class="clickable joblink glyphicon glyphicon-link"/></span>
      <span ng-switch-when="false" class="nojoblink glyphicon glyphicon-link"/></span>
    </td>

    <!-- Archiving! -->
    <td>
      <span class="clickable glyphicon glyphicon-download-alt" style="color:darkorchid" data-toggle="modal" data-target="#confirmModal" ng-click="changeMode('archive', job)"/>
    </td>

    <!-- Remove button -->
    <td>
      <span class="clickable glyphicon glyphicon-remove" style="color:red" data-toggle="modal" data-target="#confirmModal" ng-click="changeMode('delete', job)" />
    </td>

    <!-- Edit button -->
    <td>
      <span class="clickable glyphicon glyphicon-pencil" style="color:black" data-toggle="modal" data-target="#userModal" ng-click='changeMode("edit", job)'/>
    </td>

    <!-- Presents modified date in readable format -->
    <td>
      {{job.modifiedAt | amCalendar:referenceTime:formats}}
    </td>
  </tr>
</table>





                      <!-- MODALS BEGIN HERE -->

<!-- ADD / EDIT MODAL -->
<!-- Modal Settings -->

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
  <!-- Popup Modal Header -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel" ng-show='mode === "add"'>Add New Job</h4>
      <h4 class="modal-title" id="modalLabel" ng-show='mode === "edit"'>Edit Job</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <form name = "gitHiredForm" ng-submit="mode === 'add' ? postJob() : editJob(job)" novalidate>
        <!-- Company Form Group -->
          <div class="form-group">
            <label for="user-company" class="control-label">
            Company:
            </label>
            <input type="text" name="jobCompany" class="form-control" ng-model="job.company" placeholder="company" required>
             <div role="alert">
              <span ng-show="gitHiredForm.jobCompany.$error.required" style="color:maroon" role="alert">
               Required!</span>
            </div>
          </div>
        <!-- Position Form Group -->
          <div class ="form-group">
            <label for="user-position" class="control-label">Position:</label>
            <input name="position" class="form-control" ng-model="job.position" placeholder="position" > <!-- Input for the job.position -->
          </div>
          <div class ="form-group">
            <label for="user-deadline" class="control-label">Next Deadline or Interview Date:</label> <!-- Deadline Form Group -->
             <div class="input-group date" data-provide="datepicker">
              <input name="deadline" class="form-control" ng-model="job.deadline" placeholder="mm/dd/yyyy">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"> </span>
              </div>
            </div>
          </div>
          <div class ="form-group">
            <label for="user-position" class="control-label">Link to Job:</label>
            <input name="link" class="form-control" ng-model="job.link" placeholder="job link" > <!-- Input for the job.position -->
          </div>

          <!-- FILE UPLOADER --> 

          <div class="files form-group">
            <label for="user-resume" class="control-label">Resume/CV:</label>
            <input class="form-control"   type="file" ngf-select ng-model="job.resume" name="file" ngf-max-size="2MB" ngf-model-invalid="errorFile">
            <i ng-show="gitHiredForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
          </div> 


          <!-- Status Form Group -->
          <div class ="select form-group">
              <label for="user-status" class="control-label">Status:</label>
              <!-- Creating a Select dropdown for Starting,WIP and Completed -->

              <select name="job" class="select form-control" id="user-status" ng-model="job.status"
                ng-options="option.label as option.label for option in progressionArr"
              />
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" value ="listing" class="btn btn-primary" data-dismiss="modal" ng-click="closeAdder(job)" ng-disabled="(gitHiredForm.$dirty && gitHiredForm.$invalid)">Save</button>
            </div>
        <!-- End of Footer -->
          </div>
        </form>
        <!-- End of Form//-->
      </div>
    </div>
  </div>
</div>
<!-- END ADD / EDIT MODAL -->

<!-- CONFIRM MODAL -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel" ng-show='mode === "delete"'>Delete Job</h4>
      <h4 class="modal-title" id="modalLabel" ng-show='mode === "archive"'>{{archiveDestination}} Job</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <form name ='confirmForm' ng-submit="mode === 'delete' ? delJob(job) : archiveJob(job)" novalidate>
        <h5 ng-show='mode === "delete"'> Are you sure you want to delete this job? </h5><br>
        <h5 ng-show='mode === "archive"'> Are you sure you want to {{archiveOption}} this job? </h5><br>
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" value ="listing" class="btn btn-danger" data-dismiss="modal" ng-click="closeAdder(job)">{{mode === 'delete' ? 'Delete' : archiveDestination}}</button>
            </div>
        <!-- End of Footer -->
        </form>
      </div>
        <!-- End of Form//-->
      </div>
    </div>
  </div>
<!-- END DELETE MODAL -->

<!-- CALENDAR MODAL -->
<script type="text/ng-template" id="calendarModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="closeEditor()">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Add {{setSchedule}} to calendar</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <h5> Do you want to add the <span class="schedule">{{setSchedule}}</span> with {{currentJob}} on {{calDate | date:'fullDate'}} to your Calendar? </h5><br>
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeEditor()">No</button>
          <div title="Add to Calendar" class="addeventatc icon">
            Add to Calendar
            <span class="start">{{calDate | date:'MM/dd/yyyy hh:mm a'}}</span>
            <span class="end">{{calDate | date:'MM/dd/yyyy hh:mm a'}}</span>
            <span class="title">{{setSchedule}} with {{company}}</span>
            <span class="description">Description of the event</span>
            <span class="location">Location of the event</span>
            <span class="date_format">MM/dd/yyyy</span>
            <span class="client">aAjyiUWKkzrZRNgMBmXc20949</span>
          </div>

                    <!-- AddEvent Settings -->
             <script type="text/javascript">
             addeventatc.settings({
                license    : "aAjyiUWKkzrZRNgMBmXc20949",
                css        : false
             });
             </script> 
          </div>
        <!-- End of Footer -->
          </div>
      </div>
</script>
<!-- END CALENDAR MODAL -->



<!-- End controller div -->
</div>
