<div ng-controller="JobsController">
 
  <!-- Setting up the Job Table -->
  <h2>{{user.name}}'s Jobs</h2>
  <table>
    <tr>
      <th>Favorite</th>
      <th>Company</th>
      <th>Position</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  <div>
    <tr ng-repeat="job in data.jobs">
        <td></td>
        <td>{{job.company}}</td>
        <td>{{job.position}}</td>
        <td>{{job.deadline}}</td>
        <td>{{job.status}}</td>
        <td></td>
        <td></td>
      </tr>
  </div>
</table>
<br>
<!-- Button for Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">Add Job</button>
<!-- Modal Settings -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Message</h4>
      </div>
      <div class="modal-body">
        <form name = gitHiredForm ng-submit="postJob()" novalidate>
          <div class="form-group required">
          <!-- Company Form Group -->
              <label for="user-company" class="control-label"> 
              Company:
                <span class="asteriskField">
                *
                </span>
              </label>
            <input name='job' class="form-control" ng-model="job.company" placeholder="company"> <!-- Input for the job.company -->
          </div>
          <!-- Position Form Group -->
          <div class ="form-group">
            <label for="user-position" class="control-label">Position:</label>
            <input name='job' class="form-control" ng-model="job.position" placeholder="position"> <!-- Input for the job.position -->
          </div>
          <div class ="form-group">
            <label for="user-deadline" class="control-label">Deadline:</label> <!-- Deadline Form Group -->
             <div class="input-group date" data-provide="datepicker">
              <input name='job' class="form-control" ng-model="job.deadline" placeholder="mm/dd/yyyy">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"> </span>
              </div>
            </div>
          </div>
          <br>
          <!-- Status Form Group -->
          <div class ="select form-group"> 
              <label for="user-status" class="control-label">Status:</label>
              <select name='job' class="select form-control" id="user-status" ng-model="job.status"> C<!-- reating a Select dropdown for Starting,WIP and Completed -->
                <option value="Starting">
                 Starting
                </option>
                <option value="Work in Progress">
                 Work in Progress
                </option>
                <option value="Completed">
                 Completed
                </option>
             </select>
             <!-- End of Form Group -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" value ="listing" class="btn btn-primary">Add Information</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Extra Style Guide -->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>