<style>
  body{
  background-color: #3b5998;
  }
</style>


<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Jura:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<div class="head">
  <a span class='logout' href='/'>Logout</a>
  <h2>Ellie's Jobs</h2>
</div>
<div ng-controller="JobsController"></div>
<!-- Open modal to add job -->
<button id="addJob" type="button" class="btn btn-default" data-toggle="modal" data-target="#userModal">Add Job</button>

<table class="table table-striped textwrap">
  <!-- TABLE HEADERS -->
  <tr>
    <th class="clickable" ng-click="sortBy('fav')" style="width:5.5%">
      Fav
      <span class="sortorder" ng-show="propertyName === 'fav'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('company')" style="width:20%">
      Company
      <span class="sortorder" ng-show="propertyName === 'company'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('position')" style="width:12.5%">
      Position
      <span class="sortorder" ng-show="propertyName === 'position'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('deadline')" style="width:12%">
      Deadline
      <span class="sortorder" ng-show="propertyName === 'deadline'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('statusOrder')" style="width:15%">
      Status
      <span class="sortorder" ng-show="propertyName === 'statusOrder'" ng-class="{reverse: reverse}"></span>
    </th>

    <th style="width:5%">Link</th>

    <th style="width:5%">Del</th>

    <th style="width:5%">Edit</th>

    <th class="clickable" ng-click="sortBy('modifiedAt')" style="width:20%">
      Last Modified
      <span class="sortorder" ng-show="propertyName === 'modifiedAt'" ng-class="{reverse: reverse}"></span>
    </th>
  </tr>


  <!-- TABLE BODY -->
  <!-- Sorts by clicked item first, and company name second -->
  <tr ng-repeat="job in data.jobs | orderBy:'company':reverse | orderBy:propertyName:reverse">
    <!-- Favorites (togglable)-->
    <td>
      <span class="clickable fav" ng-class="{'glyphicon glyphicon-star': job.fav, 'glyphicon glyphicon-star-empty': !job.fav}" ng-click="toggleFav(job)"/>
    </td>

    <!-- Company name -->
    <td>
      {{job.company}}
    </td>

    <!-- Position title -->
    <td>
      <span>{{job.position}}</span>
    </td>

    <!-- Gets deadline styling based on how close the deadline is to today -->
    <td ng-class="getDeadlineClass({{job.deadline | amDifference : null : 'days'}})">
        {{
          (job.deadline | amDifference : null : 'days') < 0 ?
          'Completed' :
          (job.deadline | amDateFormat:'L')
        }}
    </td>

    <!-- Bootstrap progress bar -->
    <td>
      <span class="glyphicon glyphicon-triangle-left" ng-class="getArrowClass(job, 'left')" ng-click="adjustStatus(job, -1)" style="float:left">&thinsp;</span>
      <span class="glyphicon glyphicon-triangle-right" ng-class="getArrowClass(job, 'right')" ng-click="adjustStatus(job, 1)" style="float:right"/>
      <span><uib-progressbar class="progress active" value="progression[job.status].value" type="{{progression[job.status].type}}"/></span>
      {{job.status}}
    </td>

    <!-- Uses ng-switch to show either a blue clickable link, or grey unclickable link, depending on if job.link exists -->
    <td ng-switch="!!job.link">
      <a ng-href="{{job.link}}" ng-switch-when="true"><span class="clickable joblink glyphicon glyphicon-link"/></a>
      <span ng-switch-when="false" class="nojoblink glyphicon glyphicon-link"/></span>
    </td>

    <!-- Remove button -->
    <td>
      <span class="clickable glyphicon glyphicon-remove" style="color:red" data-toggle="modal" ng-click="delModal(job)" />
    </td>

    <!-- Edit button -->
    <td>
      <span class="clickable glyphicon glyphicon-pencil" style="color:black" data-toggle="modal" ng-click="editModal(job)"/>
    </td>

    <!-- Presents modified date in readable format -->
    <td>
      {{job.modifiedAt | amCalendar:referenceTime:formats}}
    </td>
  </tr>
</table>





                      <!-- MODALS BEGIN HERE -->
                      <!-- There are two separate modals: one for Add, one for Edit -->



<!-- ADD MODAL -->
<!-- Modal Settings -->

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
  <!-- Popup Modal Header -->
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Add New Job</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <form name = gitHiredForm ng-submit="postJob()" novalidate>
        <!-- Company Form Group -->
          <div class="form-group">
            <label for="user-company" class="control-label">
            Company:
            </label>
            <input type="text" name='jobCompany' class="form-control" ng-model="job.company" placeholder="company" required>
             <div role="alert">
              <span ng-show="gitHiredForm.jobCompany.$error.required" style="color:maroon" role="alert">
               Required!</span>
            </div>
          </div>
        <!-- Position Form Group -->
          <div class ="form-group">
            <label for="user-position" class="control-label">Position:</label>
            <input name='position' class="form-control" ng-model="job.position" placeholder="position" > <!-- Input for the job.position -->
          </div>
          <div class ="form-group">
            <label for="user-deadline" class="control-label">Deadline:</label> <!-- Deadline Form Group -->
             <div class="input-group date" data-provide="datepicker">
              <input name='deadline' class="form-control" ng-model="job.deadline" placeholder="mm/dd/yyyy">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"> </span>
              </div>
            </div>
          </div>
          <div class ="form-group">
            <label for="user-position" class="control-label">Link:</label>
            <input name='link' class="form-control" ng-model="job.link" placeholder="link" > <!-- Input for the job.position -->
          </div>
          <br>
          <!-- Status Form Group -->
          <div class ="select form-group">
              <label for="user-status" class="control-label">Status:</label>
              <!-- Creating a Select dropdown for Starting,WIP and Completed -->

              <select name='job' class="select form-control" id="user-status"
                ng-init="job.status = 'Interested'" ng-model="job.status"
                ng-options="option.label as option.label for option in progressionArr"
              />
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" value ="listing" class="btn btn-primary" data-dismiss="modal" ng-click="closeAdder()" ng-disabled="(gitHiredForm.$dirty && gitHiredForm.$invalid)">Save</button>
            </div>
        <!-- End of Footer -->
          </div>
        </form>
        <!-- End of Form//-->
      </div>
    </div>
  </div>
</div>
<!-- END ADD MODAL -->



<!-- EDIT MODAL -->

<script type="text/ng-template" id="editModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="closeEditor()">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Edit Job</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <form name = gitHiredForm ng-submit="editJob(job)" novalidate>
        <!-- Company Form Group -->
          <div class="form-group">
            <label for="user-company" class="control-label">
            Company:
            </label>
            <input type="text" name='jobCompany' class="form-control" ng-model="job.company" required>
             <div role="alert">
              <span ng-show="gitHiredForm.jobCompany.$error.required" style="color:maroon" role="alert">
               Required!</span>
            </div>
          </div>
        <!-- Position Form Group -->
          <div class ="form-group">
            <label for="user-position" class="control-label">Position:</label>
            <input name='job' class="form-control" ng-model="job.position" placeholder="position" > <!-- Input for the job.position -->
          </div>
          <div class ="form-group">
            <label for="user-deadline" class="control-label">Deadline:</label> <!-- Deadline Form Group -->
             <div class="input-group date" data-provide="datepicker">
              <input name='job' class="form-control" ng-model="job.deadline" placeholder="mm/dd/yyyy">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"> </span>
              </div>
            </div>
          </div>
          <div class ="form-group">
            <label for="user-position" class="control-label">Link:</label>
            <input name='link' class="form-control" ng-model="job.link" placeholder="link" > <!-- Input for the job.position -->
          </div>
          <br>
          <!-- Status Form Group -->
          <div class ="select form-group">
              <label for="user-status" class="control-label">Status:</label>
              <!-- Creating a Select dropdown for Starting,WIP and Completed -->
              <select name='job' class="select form-control" id="user-status"
                ng-model="job.status"
                ng-options="option.label as option.label for option in progressionArr"
              />
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeEditor()">Close</button>
              <button type="submit" value ="listing" class="btn btn-primary" data-dismiss="modal" ng-click="closeEditor()" ng-disabled="(gitHiredForm.$dirty && gitHiredForm.$invalid)">Save</button>
            </div>
        <!-- End of Footer -->
          </div>
        </form>
        <!-- End of Form//-->
      </div>
</script>
<!-- END EDIT MODAL -->



<!-- DELETE MODAL -->
<script type="text/ng-template" id="delModal.html">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="closeEditor()">&times;</span></button>
      <h4 class="modal-title" id="modalLabel">Delete Job</h4>
    </div>
  <!-- End of Header -->
  <!-- Popup Modal Body -->
      <div class="modal-body">
        <form name = gitHiredForm ng-submit="delJob(job)" novalidate>
        <h5> Are you sure you want to delete this task? </h5><br>
        <!-- End of Body -->
        <!-- Popup Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeEditor()">Close</button>
              <button type="submit" value ="listing" class="btn btn-danger" data-dismiss="modal" ng-click="closeEditor()" ng-disabled="(gitHiredForm.$dirty && gitHiredForm.$invalid)">Delete</button>
            </div>
        <!-- End of Footer -->
          </div>
        </form>
        <!-- End of Form//-->
      </div>
</script>
<!-- END DELETE MODAL -->
<!-- End controller div -->
</div>
