<!doctype html>
<html>
<head>
    <title>gitHired</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link href="https://fonts.googleapis.com/css?family=Audiowide|Days+One" rel="stylesheet">
    <style>
        .image{
      max-width: 100%;
    height: 200px;
    }

#title{
   color: white;
  font-family: 'Audiowide', cursive;
  float: left;
  font-size: 110px;
  margin-top: 620px;
  margin-left: 45px;
}
.image{
      background: url('blurred-city.jpg');
      background-size: cover;
      max-width: 100%;
    height: 780px;
    border-radius: 0 0 25px 25px;
    }


.head{
    padding-top: 5px;
    font-size: 70px;
    background-color: #3b5998;
}
.well{
  border: 0px;
  padding: 10px;
}

a{
  color:black;
  margin: 30px 10px;
}
    </style>
</head>


<header class='image'>
<h1 id='title'>gitHired</h1>
</header>


<body>
<div class="well">

        <center><a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div></center>

</div>
</body>
</html>

 