<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{ 
            padding-top:10px; 
            word-wrap:break-word; 
        }
        .well{
            float: left;
            margin-left: 100px;
        }
        .logout{
            margin-right: 20px;
        }

        .img-circle {
  text-align: center;
  height: 200px;
  width: 200px;
    border-radius: 50%;
}
    </style>
</head>
<body>
<div class="logout">
<div class="text-right">
<a href="/logout" class="btn btn-default btn-sm">Logout</a></div></div>
<div class="container"></div>

    <div class="page-header text-center">
        <h1><i class="fa fa-rocket" aria-hidden="true"></i> <%= user.local.name.split(" ")[0] %>'s Page</h1><br>
<center><img class='img-circle' src="IMG_6020.JPG"/><center>
    </div>

    <!-- <center><img class="img-circle" src="/IMG_6020.jpg"></center> -->
    <div class="row">
        <center><a href="https://jollydinos.herokuapp.com/#/listing" class="btn btn-default btn-lg">Job Listings</a>
        </center><br>


        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User Information</h3>

                    <p>
                        <strong>Name</strong>: <%= user.local.name %><br>
                        <strong>Email</strong>: <%= user.local.email %><br>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>