<style>
  body{
  background-color:#8c9ba2;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Jura:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<div class="head leaderboard" ng-controller="AuthController">
  <button ng-click="logout()" class="logout btn btn-primary" href="/">Logout</button>
  <h2>Leaderboard</h2>
</div>

 <a href="#/listing"  id="toJobBoard" type="button" class="btn btn-primary">To My Job Board</a>
<table class="table table-striped textwrap">
  <!-- TABLE HEADERS -->
  <tr>


    <th class="clickable" ng-click="sortBy('name')" style="width:5.5%">
      Name
      <span class="sortorder" ng-show="propertyName === 'name'"   ng-class="{reverse: reverse}"></span>
    </th>
    <th class="clickable" ng-click="sortBy('jobsApplied')" style="width:5.5%">
      Jobs Applied "Go Getter"
      <span class="sortorder" ng-show="propertyName === 'jobsApplied'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('offersReceived')" style="width:20%">
      Offers Received "Golden Boy"
      <span class="sortorder" ng-show="propertyName === 'offersReceived'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('offersDeclined')" style="width:12.5%">
      Offers Declined "Picky"
      <span class="sortorder" ng-show="propertyName === 'offersDeclined'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('appsRejected')" style="width:12%">
      Applications Rejected "Participation"
      <span class="sortorder" ng-show="propertyName === 'appsRejected'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('acceptedJobs')" style="width:15%">
      Accepted Jobs
      <span class="sortorder" ng-show="propertyName === 'acceptedJobs'" ng-class="{reverse: reverse}"></span>
    </th>

  <!-- TABLE BODY -->
  <!-- Sorts by clicked item first, and jobs applied second -->
  <tr ng-repeat="user in data.users | filter:search | orderBy:'jobsApplied':reverse | orderBy:propertyName:reverse">
    
    <!-- Jobs Applied -->
    <td>
      {{user.name}}
    </td>

    <!-- Jobs Applied -->
    <td>
      {{user.jobsApplied}}
    </td>

    <!-- Offers Received -->
    <td>
      {{user.offersReceived}}
    </td>

        <!-- Jobs Declined -->
    <td>
      {{user.offersDeclined}}
    </td>

        <!-- Applications Rejected -->
    <td>
      {{user.appsRejected}}
    </td>

    <td>
      {{user.offerAccepted}}
    </td>
        <!-- accepted jobs, not sure how this fits in -->
<!--     <td>
      {{user.appsRejected}}
    </td> -->

  </tr>
</table>