<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Jura:400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
<div class="head" ng-controller="AuthController">
  <button ng-click="logout()" class="logout btn btn-primary" href="/">Logout</button>
  <h2>{{name}}'s <span ng-show='archiveState'>Archives</span><span ng-show='!archiveState'>Current Jobs</span></h2>
</div>


<table class="table table-striped textwrap">
  <!-- TABLE HEADERS -->
  <tr>
    <th class="clickable" ng-click="sortBy('jobApplied')" style="width:5.5%">
      Jobs Applied
      <span class="sortorder" ng-show="propertyName === 'jobApplied'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('offersReceived')" style="width:20%">
      Offers Received
      <span class="sortorder" ng-show="propertyName === 'offersReceived'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('jobDeclined')" style="width:12.5%">
      Job Declined
      <span class="sortorder" ng-show="propertyName === 'jobDeclined'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('appsRejected')" style="width:12%">
      Applications Rejected
      <span class="sortorder" ng-show="propertyName === 'appsRejected'" ng-class="{reverse: reverse}"></span>
    </th>

    <th class="clickable" ng-click="sortBy('acceptedJobs')" style="width:15%">
      Accepted Jobs
      <span class="sortorder" ng-show="propertyName === 'acceptedJobs'" ng-class="{reverse: reverse}"></span>
    </th>

  <!-- TABLE BODY -->
  <!-- Sorts by clicked item first, and jobs applied second -->
  <tr ng-repeat="user in data.users | filter:search | orderBy:'jobsApplied':reverse | orderBy:propertyName:reverse">

    <!-- Jobs Applied -->
    <td>
      {{user.jobApplied}}
    </td>

    <!-- Offers Received -->
    <td>
      {{user.offersReceived}}
    </td>

        <!-- Jobs Declined -->
    <td>
      {{user.jobsDeclined}}
    </td>

        <!-- Applications Rejected -->
    <td>
      {{user.appsRejected}}
    </td>

        <!-- accepted jobs, not sure how this fits in -->
<!--     <td>
      {{user.appsRejected}}
    </td> -->

  </tr>
</table>