<div id='login'>
  <h1 class="titleCenter">gitHired</h1>
  <h3>login</h3>
  <form name="loginForm" ng-submit='login()'>
    <!-- Only $scope.user is initialized by any properties can be added / used-->
    <input type='email' ng-model='user.username' placeholder="email address" required><br/>
    <input type="password" ng-model='user.password' placeholder="password" required><br/>
    <button class="btn btn-primary">Login</button>
  </form>

  <!--
  NOTE: the hash before the url -
  for local routes, this will prevent the browser from reloading
  -->
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
